*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --background: #F0F0F5; 
    --black:#121214;
    --black-medium: #222;
    --black-light: #3a3a3a;
    --green: #03d260;
    --red:#f03737;
    --white: #FFF;
    --grey: #a8a8b3; 
}

body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    color: var(--black);
    background-color: var(--background);
    h1{
        font-size: 3rem;
    }

    .container{
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
    }

    a{
        text-decoration: none;
        color:var(--black);
    }

    ul, li{
        list-style: none;
    }

}