*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.6rem;
    color: #121214;
    background-color: #F0F0F5;
    h1{
        font-size: 3rem;
    }

    .container{
        width: 100%;
        max-width: 92rem;
        margin: 0 auto;
    }
}